@model IEnumerable<PersonModel.Models.Person>


<div id="view-all">
    @await Html.PartialAsync("_ViewAll",Model)
</div>


<h1 class="text-center"><i class=" text-success"></i>Person List</h1>
<table class="table" border="1">
    <thead class="thead-light">
        <tr>
           
            <th>@Html.DisplayNameFor(model=>model.personName)</th>
            <th>@Html.DisplayNameFor(model=>model.PersonAge)</th>

            <th>@Html.DisplayNameFor(model=>model.Gender)</th>

            <th>@Html.DisplayNameFor(model=>model.Location)</th>

            <th>@Html.DisplayNameFor(model=>model.Contactno)</th>
            <th>
                <a onclick="showInPopup('@Url.Action("AddOrEdit","Person",null,Context.Request.Scheme)','New Person')" class="btn btn-success text-white"><i class="fas fa-random"></i> New Person</a>
            </th>



        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
               
                <td>@Html.DisplayFor(model=>item.personName)</td>

                <td>@Html.DisplayFor(model=>item.PersonAge)</td>

                <td>@Html.DisplayFor(model=>item.Gender)</td>
                <td>@Html.DisplayFor(model=>item.Location)</td>
                <td>@Html.DisplayFor(model=>item.Contactno)</td>

                <td>
                    <div>
                        <a onclick="showInPopup('@Url.Action("AddOrEdit","Person",new {id=item.PersonId},Context.Request.Scheme)','Update Transaction')" class="btn btn-info text-white"><i class="fas fa-pencil-alt"></i> Edit</a>
                        <form asp-action="Delete" asp-route-id="@item.PersonId" onsubmit="return jQueryAjaxDelete(this)" class="d-inline">
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        </form>
                    </div>
                </td>

            </tr>
        }
    </tbody>
</table>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }