@model IEnumerable<Employees.Models.Employee>

<h1 class="text-center"><i class=" text-success"></i> Employee History</h1>
<table class="table">
    <thead class="thead-light">
            <tr>
                <th>@Html.DisplayNameFor(model=>model.EmpId)</th>
           
         
                <th>@Html.DisplayNameFor(model=>model.EmpName)</th>
           
       
                <th>@Html.DisplayNameFor(model=>model.Location)</th>
           
            
                <th>@Html.DisplayNameFor(model=>model.DepId)</th>
                <th>
                <a onclick="showInPopup('@Url.Action("AddOrEdit","Employees",null,Context.Request.Scheme)','New Employee')" class="btn btn-success text-white"><i class="fas fa-random"></i> New Employee</a>
            </th>
          </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(model=>item.EmpId)</td>

                <td>@Html.DisplayFor(model=>item.EmpName)</td>

                <td>@Html.DisplayFor(model=>item.Location)</td>

                <td>@Html.DisplayFor(model=>item.DepId)</td>

                <td>
                    <div>
                        <a onclick="showInPopup('@Url.Action("AddOrEdit","Employees",new {id=item.EmpId},Context.Request.Scheme)','Update Transaction')" class="btn btn-info text-white"><i class="fas fa-pencil-alt"></i> Edit</a>
                        <form asp-action="Delete" asp-route-id="@item.EmpId" onsubmit="return jQueryAjaxDelete(this)" class="d-inline">
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

