@model IEnumerable<OneToMany1.Models.Department>
<h1 class="text-center"><i class=" text-success"></i> Department</h1>
<table class="table">
    <thead class="thead-light">
        <tr>

            <th>@Html.DisplayNameFor(model=>model.DepName)</th>
            <th>
                <a onclick="showInPopup('@Url.Action("AddOrEdit","Departments",null,Context.Request.Scheme)','New Department')" class="btn btn-success text-white"><i class="fas fa-random"></i>New Department</a>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>@Html.DisplayFor(model=>item.DepName)</td>
                <td>
                    <a onclick="showInPopup('@Url.Action("AddOrEdit","Departments",new {id=item.DepId},Context.Request.Scheme)','Update Department')" class="btn btn-info text-white"><i class="fas fa-pencil-alt"></i> Edit</a>
                    <form asp-action="Delete" asp-route-id="@item.DepId" onsubmit="return jQueryAjaxDelete(this)" class="d-inline">
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </form>
                </td>

            </tr>
        }
    </tbody>
</table>
